<section id="footer">
  <div class="footer-container">
    <div class="container footer-wrapper">
      <div class="row">
              <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="container footer-navbar-wrapper" >
                  <ul class="footer-navbar-list">
                    <li class="">
                      <a class="" href="#">Fundação <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="">
                      <a class="" href="#">Quem Somos</a>
                    </li>
                    <li class="">
                      <a class="" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Quem Somos
                      </a>
                    </li>
                    <li class="">
                        <a class="" href="#">Equipamentos Culturais</a>
                    </li>
                    <li class="">
                        <a class="" href="#">Notícias</a>
                    </li>
                    <li class="">
                        <a class="" href="#">Galeria de Fotos</a>
                    </li>
                    <li class="">
                        <a class="" href="#">Cursos</a>
                    </li>
                    <li class="">
                      <a class=" disabled" href="#" tabindex="-1" aria-disabled="true">Entre em Contato</a>
                    </li>
             
                  </ul>
                  <div class="icon-container">
                    <img src="/assets/facebook-logo.png" alt="">
                    <img src="/assets/instagram-logo.png" alt="">
                    <img src="/assets/twitter-logo.png" alt="">
                  </div>
                </div>
              </div>
            
      </div>
      <div class="row">
        <div class="container">
           <div class="row footer-info">
              <div class="col-md-4 no-padding">
                  <span class="icon"><i class="fas fa-map-marker-alt"></i></span> Rua Jundiaí, 546 - Tirol, Natal - RN, CEP: 59020-120  
               </div>
               <div class="col-md-4 no-padding">
                   <span class="icon"><i class="fas fa-mobile-alt"></i></span> +55 84 3232-9364
                 </div>
           </div>
        </div>
      </div>
    </div>
  </div>
</section>
