<section class="important-notices">
        <div class="container">
          <div class="row">
              <div class="col-md-6 col-lg-6 noticia1">
                <div class="important-news-container">
                    <div class="important-news-title">
                     
                    </div>
                    <div class="gradient-and-text">
                      <div class="text-container">
                          <h2>É simplesmente uma simulação de texto da
                              indústria tipográfica e de impressos
                        </h2>
                      </div>  
                    </div>
                    <img src="assets/noticia1.png" alt="">

                </div>
              </div>
              <div class="col-md-6 col-lg-6">
                <div class="row ">
                  <div class="col-md-12 col-lg-12 notice-top">
                      <div class="noticia2">
                          <div class="gradient-and-text">  
                              <div class="text-container">
                                  <h2>
                                      É simplesmente uma simula 
                                    </h2>
                                    <p>É simplesmente uma simulação de texto da indústria </p>
                              </div>
                            </div>
                        <img src="assets/noticia2.png"  alt="">
                    </div>                    
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 col-lg-12 notice-bottom">
                      <div class="noticia3">
                          <div class="gradient-and-text">  
                              <div class="text-container">
                                  <h2>
                                      É simplesmente uma simula 
                                    </h2>
                                    <p>É simplesmente uma simulação de texto da indústria </p>
                              </div>
                            </div>

                          <img src="assets/noticia3.png" alt="">
                      </div>
                    </div>
                </div>

              </div>
          </div>
        </div>
</section>
<section class="notices">
        <div class="container">
        <H2 class="title">ÚLTIMAS NOTÍCIAS</H2>

          <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-12">
                  <div class="notice-wrapper">
                      <div class="notice-image"></div>
                      <h2 class="notice-title">É simplesmente uma simulação de 
                          texto da indústria tipográfica</h2>
                      <p class="notice-sub">É simplesmente uma simulação de texto da in
                          dústria tipográfica e de impressos, e vem send
                          o utilizado desde o século XVI, quando</p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12">
                  <div class="notice-wrapper">
                      <div class="notice-image"></div>
                      <div class="notice-title">É simplesmente uma simulação de 
                          texto da indústria tipográfica</div>
                      <div class="notice-sub">É simplesmente uma simulação de texto da in
                          dústria tipográfica e de impressos, e vem send
                          o utilizado desde o século XVI, quando</div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12">
                  <div class="notice-wrapper">
                      <div class="notice-image"></div>
                      <div class="notice-title">É simplesmente uma simulação de 
                          texto da indústria tipográfica</div>
                      <div class="notice-sub">É simplesmente uma simulação de texto da in
                          dústria tipográfica e de impressos, e vem send
                          o utilizado desde o século XVI, quando</div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12">
                  <div class="notice-wrapper">
                      <div class="notice-image"></div>
                      <div class="notice-title">É simplesmente uma simulação de 
                          texto da indústria tipográfica
                        </div>
                      <div class="notice-sub">É simplesmente uma simulação de texto da in
                          dústria tipográfica e de impressos, e vem send
                          o utilizado desde o século XVI, quando
                        </div>
                      <div class="notice-date">
                          notice
                      </div>
                  </div>
              </div>
          </div>
        </div>
</section>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
        <div class="action-button">
            <button class="btn btn-action btn-lg rounded-0">Enviar</button>
          </div>
    </div>
</div>
</div>

<section class="gallery-highlight">
  <div class="">
    <div class="container">
      <div class="row title">
          <div class="col-md-4 col-lg-4 title-container"> 
            <h2 class="title">ALBÚM DE FOTOS</h2>
          </div>
          <div class="col-md-4  col-lg-4 offset-md-4 title-container">
            <h2 class="title">FACEBOOK</h2>
          </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-12 gallery-image-container">
          <div class="title-box">
            <div class="background">
              <div class="text-container">
                <h2>
                    É simplesmente uma simulação de texto da indústria tipográfica
                </h2>
              </div>
            </div>
          </div>
          <img src="assets/fotos1.png" height="100%"alt="">
        </div>
        <div class="col-md-4 col-lg-4  col-sm-12 gallery-image-container">
          <div class="title-box">
            <div class="background">
              <div class="text-container">
                <h2>
                    É simplesmente uma simulação de texto da indústria tipográfica
                </h2>
              </div>
            </div>
          </div>
            <img src="assets/fotos2.png" alt="">

        </div>
        <div class="col-md-4 col-lg-4 col-sm-12 gallery-image-container" >
          <div id="fb-root" >
              <div  style="height:250px;"class="fb-page" data-href="https://www.facebook.com/BrazCubasArtesGraficas/" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/BrazCubasArtesGraficas/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/BrazCubasArtesGraficas/">Bráz Cubas Artes Gráficas</a></blockquote></div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
