  <div class="brand-container">
    <div class="container">
      <div class="row header-wrapper">
        <div class="col-lg-8">
          <div class="brand">
            <img src="assets/brand.png" alt="">
          </div>
       
        </div>
        <div class="col-lg-3">
          <div class="search">
            <i class="fas fa-search fa-2x search-icon"></i>
            <div class="form-group">
              <input type="text" class="form-control search-box" placeholder="BUSCAR NO SITE">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <div class="row navbar-wrapper">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon text-white">
            <i class="fas fa-bars"></i> 
          </span>
        </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/']">Fundação <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/quem-somos']">Quem Somos</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Equipamentos Culturais</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Notícias</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Galeria de Fotos</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Cursos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" >Entre em Contato</a>
          </li>
        </ul>
      </div>
      </div>
      <div class="icon-container">
        <img src="/assets/facebook-logo.png" alt="">
        <img src="/assets/instagram-logo.png" alt="">
        <img src="/assets/twitter-logo.png" alt="">
      </div>
    </div>
  </nav>