<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
          <div class="about-title">
            <h1>Sobre Nós</h1>
          </div>
          <div class="about-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat bibendum nisi, ut faucibus enim porta ac. Pellentesque in ante lectus. Phasellus risus justo, tempus id tristique tristique, tempus a erat. Pellentesque ac lacus tincidunt, scelerisque nisi ac, ultricies nisl. Nulla eu eros justo. Donec a nunc urna. Curabitur efficitur, elit at pretium lacinia, mi mi malesuada quam, et auctor risus enim a dui. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed eleifend, arcu eget elementum vestibulum, ipsum odio aliquet felis, ac euismod erat risus sed ligula<br><br>. In hac habitasse platea dictumst. Aenean ultricies ipsum ac justo ultricies luctus. Nunc at malesuada leo. Sed id mi vitae magna vulputate dignissim consectetur in nisi.

              Sed lacinia, lacus vel venenatis condimentum, libero dolor finibus elit, quis ultricies massa magna nec lectus. In venenatis elit nec rhoncus lobortis. Nunc hendrerit tincidunt justo, eget efficitur neque semper pellentesque. Maecenas non hendrerit libero, eu mollis urna. Vivamus ultrices lectus id consectetur rhoncus. In pellentesque iaculis lobortis. Curabitur in neque in risus convallis condimentum. Quisque nec ultrices metus. Proin rutrum tempus lorem. Ut id blandit neque. Suspendisse potenti.
              
              Vestibulum tristique velit sed mi iaculis, aliquam auctor arcu aliquam. Nullam sollicitudin dolor mauris, eget vulputate nunc tincidunt vitae. Donec sit amet erat ut enim malesuada viverra vitae a ipsum. Phasellus viverra augue tristique quam interdum rutrum. Nam quam leo, tempor id felis id, lacinia tristique est. Morbi mollis erat et odio vulputate, quis tincidunt diam dignissim. Pellentesque scelerisque odio id diam congue dapibus. Maecenas faucibus eros lorem, non malesuada ipsum posuere nec. Nulla facilisi. Aenean non mollis mauris. Fusce efficitur aliquet mattis.
              
              Nunc a varius nibh. Integer vel blandit nulla. Duis sed cursus odio. Proin sed sapien eros. Etiam at tellus posuere libero dignissim dictum. Vivamus interdum commodo dictum. Nulla posuere lectus vitae tincidunt finibus.
              
              Curabitur non venenatis quam. Integer pellentesque tempus tortor et elementum. Nunc volutpat nibh id lacus luctus, eget bibendum leo hendrerit. Vestibulum lacinia erat turpis, et pulvinar nisl accumsan a. Proin maximus vulputate purus sed pharetra. Fusce id nulla finibus, placerat est vitae, maximus nunc. Vivamus lacus ligula,<br><br> mollis id varius sed, mollis a ex. Maecenas laoreet mauris sed turpis placerat, et placerat enim vulputate.</p>
          </div>
      </div>
      <div class="col-md-6">
        <div class="about-image-wrapper">        
            <div class="about-image">
              <img src="assets/empresa.jpg" alt="">
            </div>
        </div>

      </div>
    </div>
  </div>
</section>
